.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #8daae3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background-color: #6255fc; 
  color: white; 
  height: 30px;
  width: max-content;
  font-weight: 600;
  border: none; 
  border-radius: 10px;
  font-size: small; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4e41e5e3; 
}

button:disabled {
  background-color: #cccccc; 
  cursor: not-allowed; 
}
