.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #8daae3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* global.css or index.css or App.css */
button {
  background-color: #6255fc; /* Blue background */
  color: white; /* White text */
  height: 30px;
  width: max-content;
  font-weight: 600;
  border: none; /* Remove default border */
  border-radius: 10px; /* Slightly rounded corners */
  font-size: small; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #4e41e5e3; /* Darker blue on hover */
}

button:disabled {
  background-color: #cccccc; /* Gray background when disabled */
  cursor: not-allowed; /* Not allowed cursor when disabled */
}